body {
    font-family: 'Courier New', Courier, monospace;
    line-height: 25px;
    background-color: sandybrown;
    margin: 0;
}

.column {
    width: 600px;
    margin:0px auto;
    background-color: seashell;
    padding: 1px 40px 40px 40px;
    border-left: solid 25px pink;
    border-right: solid 25px pink;

}
}

img {
    width:100%;
}

h1{
font-size: 60px;
font-family: : Georgia, 'Times New Roman', Times, serif;
}