body {
    font-family: 'Courier New', Courier, monospace;
    line-height: 25px;
}

.column {
    width: 600px;
    margin:40px auto;
}

img {
    width:100%;
}

h1{
font-size: 60px;
font-family: : Georgia, 'Times New Roman', Times, serif;
}